@page
@inject IState State;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>
        <b>Last Retrieval</b><br/>
        @State.LastRetrieval.ToString("G")
    </p>
    <p>
        <b>Current WAN Ip Address</b><br/>
        @State.CurrentIpAddress ?? "Unknown"
    </p>
    <p>
        <b>Current DNS Ip Address</b>
        @State.InDnsZone ?? "Unknown"
    </p>
</div>